body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

button {
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}